@layer theme {
  :root {
    .bottom-sheet {
      background-color: var(--color-surface-base);
    }

  }
}

@layer base {
  .bottom-sheet {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: var(--z-index-layer-bottom-sheet);
    width: 100%;
    height: auto;
    overflow: scroll;
    padding-top: calc(var(--spacing) * 6);
    border-radius: calc(var(--spacing) * 20) calc(var(--spacing) * 20) 0 0;
    transition: transform 0.175s var(--ease-in-ios);
    transform: translateY(calc(100% + var(--safe-area-site-header)));
    pointer-events: none;
    box-shadow: 8px 0 16px 0 rgba(15, 15, 15, 0.06), -8px 0 16px 0 rgba(15, 15, 15, 0.06);

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }

    @media (min-width: 768px) {
      min-height: 320px;
    }
  }

  .bottom-sheet--open {
    transform: translateY(0);
    transition-duration: 225ms;
    transition-timing-function: var(--ease-out-ios);
    pointer-events: auto;
  }

}
