@layer base, theme, utilities, components;

@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/fonts.css";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
