.tokenDrawer {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 730px;
  transform: translateX(-50%);
  transition: transform 0.225s var(--ease-in-out-ios);
  z-index: var(--z-index-layer-dialog);
  opacity: 0;
  pointer-events: none;
  padding-top: 40px;
  background-color: var(--color-surface-base);
  box-shadow: 8px 0 16px 0 rgba(15, 15, 15, 0.06), -8px 0 16px 0 rgba(15, 15, 15, 0.06);

  &.open {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 0;
  }
}

.tokenDrawerContent {
  --input-container-height: 120px;

  position: relative;
  padding-bottom: 40px;
  min-height: calc(100dvh - var(--input-container-height));
  min-height: calc(100svh - var(--input-container-height));
  max-height: calc(100dvh - var(--input-container-height));
  max-height: calc(100svh - var(--input-container-height));
  overflow: scroll;
  background-color: var(--color-surface-base);

  &::-webkit-scrollbar {
    display: none;
  }
}

.tokenDrawerScrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-surface-sub);
  backdrop-filter: blur(2px);
  z-index: var(--z-index-layer-dialog-scrim);
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 0;
  }
}

.tokenDrawerInput {
  height: 40px;
  width: 100%;
  padding: 8px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 2px;

  &::placeholder {
    color: var(--color-quaternary);
  }

  &:hover {
    &::placeholder {
      color: var(--color-tertiary);
    }
  }

  &:active {
    outline: none;

    &::placeholder {
      color: var(--color-secondary);
    }
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: var(--color-quaternary);
    }
  }

  &:disabled {
    background-color: var(--color-surface-low);
    border-color: var(--color-quaternary);
    color: var(--color-quaternary);
    cursor: not-allowed;
  }
}
