@import "tailwindcss";

@font-face {
  font-family: "Sohne Breit";
  font-weight: 400;
  font-display: auto;
  src: url("/fonts/Sohne/Breit/soehne-breit-buch.woff2") format("woff2");
}

@font-face {
  font-family: "Sohne Breit";
  font-weight: 500;
  font-display: auto;
  src: url("/fonts/Sohne/Breit/soehne-breit-kraftig.woff2") format("woff2");
}

@font-face {
  font-family: "Sohne";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Sohne/soehne-buch.woff2") format("woff2");
}

@font-face {
  font-family: "ABC Diatype Variable";
  font-weight: 100 1000;
  font-display: auto;
  src: url("/fonts/ABCDiatypeVariable.woff2") format("woff2-variations"),
    url("/fonts/ABCDiatypeVariable.woff") format("woff-variations");
}

html {
  --color-bg: #fafafa;
  --color-text: #0f0f0f;
  --color-text-muted: rgba(0, 0, 0, 0.6);
  --color-letter-bg: #ffffff;
  --color-letter-text: #000000;
  --color-code-bg: #1f1f1f;
  --color-cta-primary-bg: #000;
  --color-cta-primary-text: var(--color-bg);
  --color-cta-secondary-bg: rgba(0, 0, 0, 0.75);
  --color-cta-secondary-text: var(--color-bg);
  --color-cta-tertiary-bg: rgba(0, 0, 0, 0.50);
  --color-cta-tertiary-text: var(--color-bg);
  --color-cta-extrary-bg: rgba(0, 0, 0, 0.25);
  --color-cta-extrary-text: var(--color-bg);
  --font-title-size: 1.75rem;
  --font-title-line-height: 1.25rem;
  --font-subheadline-size: 1.25rem;
  --font-subheadline-line-height: 0.875rem;
  --color-border: rgba(0, 0, 0, 0.05);
}

html.dark {
  --color-bg: #0f0f0f;
  --color-text: #fafafa;
  --color-text-muted: rgba(255, 255, 255, 0.85);
  --color-letter-bg: #000000;
  --color-letter-text: #ffffff;
  --color-code-bg: #1f1f1f;
  --color-cta-primary-bg: #ffffff;
  --color-cta-primary-text: var(--color-bg);
  --color-cta-secondary-bg: rgba(255, 255, 255, 0.75);
  --color-cta-secondary-text: var(--color-bg);
  --color-cta-tertiary-bg: rgba(255, 255, 255, 0.50);
  --color-cta-tertiary-text: var(--color-bg);
  --color-cta-extrary-bg: rgba(255, 255, 255, 0.25);
  --color-cta-extrary-text: var(--color-bg);
  --color-border: rgba(255, 255, 255, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0f0f0f;
    --color-text: #fafafa;
    --color-text-muted: rgba(255, 255, 255, 0.85);
  }

  body {
    background: var(--color-bg);
    color: var(--color-text);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff;
    --color-text: #0f0f0f;
    --color-text-muted: rgba(0, 0, 0, 0.6);
  }

  body {
    background: var(--color-bg);
    color: var(--color-text);
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 0;
  min-height: 100vh;
  /* width: 60rem; */
  max-width: 60rem;
  margin: 0 auto;

  @media (max-width: 60rem) {
    /* width: auto; */
    padding: 2.5rem 0;
    margin: 0 0.5rem;
    gap: 2.5rem;
  }

  --vocs-color_borderAccent: var(--color-text);
}

.logo {
  width: 20rem;
}

.value-prop {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.value-prop__title {
  /* leading-trim: both;
  text-edge: cap; */
  font-feature-settings: 'calt' off;
  font-family: "Sohne Breit", sans-serif;
  font-size: 2rem;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 2rem; /* 100% */
}

.value-prop__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-left: 0.5rem;
}

.value-prop__item {
  font-family: "Sohne", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  list-style-type: disc;
  list-style-position: inside;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.logos__item {
  height: 1.2rem;
  width: auto;
  opacity: 0.7;
  transition: opacity 0.2s;

  path {
    fill: var(--color-text);
  }
}

.logos__item:hover {
  opacity: 1;
}

.cta {
  display: flex;
  flex-direction: column;
  font-family: "Sohne Breit", sans-serif;
  font-weight: 500;

  gap: 0.5rem;

  * {
    width: auto;
  }

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 0;
  }
}

.cta__button {
  flex: 1;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: opacity 0.2s;
  letter-spacing: 0.05em;
}

.cta__button:hover {
  opacity: 0.8;
}

.cta__button--primary {
  background: var(--color-cta-primary-bg);
  color: var(--color-cta-primary-text);
}

.cta__button--secondary {
  background: var(--color-cta-secondary-bg);
  color: var(--color-cta-secondary-text);
}

.cta__button--tertiary {
  background: var(--color-cta-tertiary-bg);
  color: var(--color-cta-tertiary-text);
}

.cta__button--extrary {
  background: var(--color-cta-extrary-bg);
  color: var(--color-cta-extrary-text);
}
