name: QA
on:
  workflow_call:
  workflow_dispatch:
  push:

jobs:
  lint:
    name: Audit, Lint & Format
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Audit dependencies
        run: bun audit
      - name: Lint & Format
        run: bun run lint

  build:
    name: Build
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build packages
        run: bun run build

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run tests
        run: bun test
        env:
          ZEROX_API_KEY: ${{ secrets.ZEROX_API_KEY }}
          ANKR_API_KEY: ${{ secrets.ANKR_API_KEY }}
