name: QA
on:
  push:

jobs:
  verify:
    name: Style and Audit
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install deps
        run: bun install
      - name: Audit dependencies
        run: bun audit
      - name: Lint & Format
        run: bun run lint

  test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install deps
        run: bun install
      - name: Build packages
        run: bun run build
      - name: Run tests
        run: bun test
        env:
          ZEROX_API_KEY: ${{ secrets.ZEROX_API_KEY }}
